In [1]:
 the_world_is_flat = True

In [2]:
help

Type help() for interactive help, or help(object) for help about object.

In [3]:
if the_world_is_flat:
  print("Be careful not to fall off!")

Be careful not to fall off!

In [4]:
-*- coding: encoding -*-

SyntaxError: invalid syntax (<ipython-input-4-973f0485ed1c>, line 1)

In [5]:
2 + 2

4

In [6]:
50 - 5*6

20

In [7]:
(50 - 5*6) / 4

5.0

In [8]:
8 / 5  # division always returns a floating point number

1.6

In [9]:
spam = 1

In [10]:
text = "# This is not a comment because it's inside quotes."

In [11]:
text

"# This is not a comment because it's inside quotes."

In [12]:
 17 / 3  # classic division returns a float

5.666666666666667

In [13]:
17 // 3  # floor division discards the fractional part

5

In [14]:
17 % 3  # the % operator returns the remainder of the division

2

In [15]:
5 * 3 + 2  # result * divisor + remainder

17

In [16]:
5 ** 2  # 5 squared

25

In [17]:
 2 ** 7  # 2 to the power of 7

128

In [18]:
width = 20

In [19]:
height = 5 * 9

In [20]:
width * height

900

In [21]:
n  # try to access an undefined variable

NameError: name 'n' is not defined

In [22]:
4 * 3.75 - 1

14.0

In [23]:
tax = 12.5 / 100

In [24]:
price = 100.50

In [25]:
price * tax

12.5625

In [26]:
price + _

113.0625

In [27]:
round(_, 2)

113.06

In [28]:
'spam eggs'  # single quotes

'spam eggs'

In [29]:
'doesn\'t'  # use \' to escape the single quote...

"doesn't"

In [30]:
"doesn't"  # ...or use double quotes instead

"doesn't"

In [31]:
'"Yes," they said.'

'"Yes," they said.'

In [32]:
"\"Yes,\" they said."

'"Yes," they said.'

In [33]:
'"Isn\'t," they said.'

'"Isn\'t," they said.'

In [34]:
'"Isn\'t," they said.'

'"Isn\'t," they said.'

In [35]:
print('"Isn\'t," they said.')

"Isn't," they said.

In [36]:
 s = 'First line.\nSecond line.'  # \n means newline

In [37]:
s  # without print(), \n is included in the output

'First line.\nSecond line.'

In [38]:
print(s)  # with print(), \n produces a new line

First line.
Second line.

In [39]:
print("""\
Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to
""")

Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to

In [40]:
# 3 times 'un', followed by 'ium'

In [41]:
3 * 'un' + 'ium'

'unununium'

In [42]:
'Py' 'thon'

'Python'

In [43]:
text = ('Put several strings within parentheses '
...         'to have them joined together.')

In [44]:
text
'Put several strings within parentheses to have them joined together.'

'Put several strings within parentheses to have them joined together.'

In [45]:
prefix = 'Py'

In [46]:
prefix 'thon'  # can't concatenate a variable and a string literal

SyntaxError: invalid syntax (<ipython-input-46-c5901e312aa3>, line 1)

In [47]:
('un' * 3) 'ium'

SyntaxError: invalid syntax (<ipython-input-47-f4764cbe42a8>, line 1)

In [48]:
('un' * 3) + 'ium'

'unununium'

In [49]:
 prefix + 'thon'

'Python'

In [50]:
word = 'Python'

SyntaxError: EOL while scanning string literal (<ipython-input-50-237c9afb72c2>, line 1)

In [51]:
word = 'Python'

In [52]:
word[0]  # character in position 0

'P'

In [53]:
word[5]  # character in position 5

'n'

In [54]:
word[0] + word[5]

'Pn'

In [55]:
word[-1]

'n'

In [56]:
word[-2]

'o'

In [57]:
word[-6]

'P'

In [58]:
word[0:2]  # characters from position 0 (included) to 2 (excluded)

'Py'

In [59]:
word[2:5]  # characters from position 2 (included) to 5 (excluded)

'tho'

In [60]:
word[:2] + word[2:]

'Python'

In [61]:
word[:4] + word[4:]

'Python'

In [62]:
 word[:2]   # character from the beginning to position 2 (excluded)

'Py'

In [63]:
word[4:]   # characters from position 4 (included) to the end

'on'

In [64]:
word[-2:]  # characters from the second-last (included) to the end

'on'

In [65]:
word[42]  # the word only has 6 characters

IndexError: string index out of range

In [66]:
word[4:42]

'on'

In [67]:
word[42:]

''

In [68]:
word[0] = 'J'

TypeError: 'str' object does not support item assignment

In [69]:
word[2:] = 'py'

TypeError: 'str' object does not support item assignment

In [70]:
'J' + word[1:]

'Jython'

In [71]:
word[:2] + 'py'

'Pypy'

In [72]:
s = 'supercalifragilisticexpialidocious'

In [73]:
len(s)

34

In [74]:
squares = [1, 4, 9, 16, 25]

In [75]:
squares

[1, 4, 9, 16, 25]

In [76]:
squares[0]

1

In [77]:
squares[-1]

25

In [78]:
squares[-3:]  # slicing returns a new list

[9, 16, 25]

In [79]:
squares[:]

[1, 4, 9, 16, 25]

In [80]:
squares + [36, 49, 64, 81, 100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [81]:
cubes = [1, 8, 27, 65, 125]  # something's wrong here

In [82]:
 4 ** 3  # the cube of 4 is 64, not 65!

64

In [83]:
cubes[3] = 64  # replace the wrong value

In [84]:
cubes

[1, 8, 27, 64, 125]

In [85]:
cubes.append(216)  # add the cube of 6

In [86]:
cubes.append(7 ** 3)  # and the cube of 7

In [87]:
cubes

[1, 8, 27, 64, 125, 216, 343]

In [88]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [89]:
letters

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [90]:
letters[2:5] = ['C', 'D', 'E']

In [91]:
letters

['a', 'b', 'C', 'D', 'E', 'f', 'g']

In [92]:
letters[2:5] = []

In [93]:
letters

['a', 'b', 'f', 'g']

In [94]:
# clear the list by replacing all the elements with an empty list

In [95]:
letters[:] = []

In [96]:
letters

[]

In [97]:
letters = ['a', 'b', 'c', 'd']

In [98]:
len(letters)

4

In [99]:
a = ['a', 'b', 'c']

In [100]:
n = [1, 2, 3]

In [101]:
x = [a, n]

In [102]:
x

[['a', 'b', 'c'], [1, 2, 3]]

In [103]:
x[0]

['a', 'b', 'c']

In [104]:
x[0][1]

'b'

In [105]:
x[1][2]

3

In [106]:
# Fibonacci series:
... # the sum of two elements defines the next
... a, b = 0, 1

In [107]:
while a < 10:
...     print(a)
...     a, b = b, a+b
...

0
1
1
2
3
5
8

In [108]:
i = 256*256

In [109]:
print('The value of i is', i)

The value of i is 65536

In [110]:
a, b = 0, 1

In [111]:
while a < 1000:
...     print(a, end=',')
...     a, b = b, a+b

0,1,1,2,3,5,8,13,21,34,55,89,144,233,377,610,987,

In [112]:
x = int(input("Please enter an integer: "))

Please enter an integer: 42

In [113]:
if x < 0:
...     x = 0
...     print('Negative changed to zero')
... elif x == 0:
...     print('Zero')
... elif x == 1:
...     print('Single')
... else:
...     print('More')
...
More

More

NameError: name 'More' is not defined

In [114]:
if x < 0:
...     x = 0
...     print('Negative changed to zero')
... elif x == 0:
...     print('Zero')
... elif x == 1:
...     print('Single')
... else:
...     print('More')
...

More

In [1]:
# Measure some strings:
... words = ['cat', 'window', 'defenestrate']

In [2]:
for w in words:
...     print(w, len(w))

cat 3
window 6
defenestrate 12

In [3]:
# Strategy:  Iterate over a copy
for user, status in users.copy().items():
    if status == 'inactive':
        del users[user]

NameError: name 'users' is not defined

In [7]:
users = {'jemina','estrella','esther'}

In [8]:
# Strategy:  Iterate over a copy
for user, status in users.copy().items():
    if status == 'inactive':
        del users[user]

AttributeError: 'set' object has no attribute 'items'

In [13]:
users

{'esther', 'estrella', 'jemina'}

In [14]:
 for i in range(5):
...     print(i)

0
1
2
3
4

In [16]:
for i in range(5, 10):
...     print(i)

5
6
7
8
9

In [17]:
for i in range(0, 10, 3):
...     print(i)

0
3
6
9

In [18]:
for i in range(-10, -100, -30):
...     print(i)

-10
-40
-70

In [19]:
 a = ['Mary', 'had', 'a', 'little', 'lamb']

In [21]:
a

['Mary', 'had', 'a', 'little', 'lamb']

In [22]:
for i in range(len(a)):
...     print(i, a[i])

0 Mary
1 had
2 a
3 little
4 lamb

In [23]:
 print(range(10))
range(0, 10)

range(0, 10)

range(0, 10)

In [24]:
print(range(10))

range(0, 10)

In [25]:
sum(range(4))  # 0 + 1 + 2 + 3

6

In [26]:
list(range(4))

[0, 1, 2, 3]

In [27]:
for n in range(2, 10):
...     for x in range(2, n):
...         if n % x == 0:
...             print(n, 'equals', x, '*', n//x)
...             break
...     else:
...         # loop fell through without finding a factor
...         print(n, 'is a prime number')

2 is a prime number
3 is a prime number
4 equals 2 * 2
5 is a prime number
6 equals 2 * 3
7 is a prime number
8 equals 2 * 4
9 equals 3 * 3

In [30]:
for num in range(2, 10):
...     if num % 2 == 0:
...         print("Found an even number", num)
...         continue
...     print("Found a number", num)

Found an even number 2
Found a number 3
Found an even number 4
Found a number 5
Found an even number 6
Found a number 7
Found an even number 8
Found a number 9

In [ ]:
while True:
...     pass  # Busy-wait for keyboard interrupt (Ctrl+C)
...

In [ ]:
while True:
...     pass  # Busy-wait for keyboard interrupt (Ctrl+C)

In [ ]:
while True:
...     pass  # Busy-wait for keyboard interrupt (Ctrl+C)

In [ ]:
class MyEmptyClass:
...     pass
...

In [ ]:
def initlog(*args):
...     pass   # Remember to implement this!

In [31]:
def fib(n):    # write Fibonacci series up to n
...     """Print a Fibonacci series up to n."""
...     a, b = 0, 1
...     while a < n:
...         print(a, end=' ')
...         a, b = b, a+b
...     print()

In [32]:
# Now call the function we just defined:
... fib(2000)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597

In [33]:
fib

In [35]:
 f = fib

In [36]:
f(100)

0 1 1 2 3 5 8 13 21 34 55 89

In [37]:
fib(0)

In [38]:
print(fib(0))

None

In [39]:
def fib2(n):  # return Fibonacci series up to n
...     """Return a list containing the Fibonacci series up to n."""
...     result = []
...     a, b = 0, 1
...     while a < n:
...         result.append(a)    # see below
...         a, b = b, a+b
...     return result

In [40]:
f100 = fib2(100)    # call it

In [41]:
f100                # write the result

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [42]:
def ask_ok(prompt, retries=4, reminder='Please try again!'):
    while True:
        ok = input(prompt)
        if ok in ('y', 'ye', 'yes'):
            return True
        if ok in ('n', 'no', 'nop', 'nope'):
            return False
        retries = retries - 1
        if retries < 0:
            raise ValueError('invalid user response')
        print(reminder)

In [43]:
ask_ok('Do you really want to quit?')

Do you really want to quit?n

False

In [44]:
ask_ok('Do you really want to quit?')

Do you really want to quit?g
Please try again!
Do you really want to quit?h
Please try again!
Do you really want to quit?f
Please try again!
Do you really want to quit?f
Please try again!
Do you really want to quit?f

ValueError: invalid user response

In [45]:
i = 5

def f(arg=i):
    print(arg)

i = 6
f()

5

In [46]:
f(8)

8

In [47]:
f()

5

In [48]:
def f(a, L=[]):
    L.append(a)
    return L

In [49]:
print(f(1))

[1]

In [50]:
print(f(1))
print(f(2))
print(f(3))

[1, 1]
[1, 1, 2]
[1, 1, 2, 3]

In [51]:
def f(a, L=None):
    if L is None:
        L = []
    L.append(a)
    return L

In [52]:
print(f(1))
print(f(2))
print(f(3))

[1]
[2]
[3]

In [53]:
def parrot(voltage, state='a stiff', action='voom', type='Norwegian Blue'):
    print("-- This parrot wouldn't", action, end=' ')
    print("if you put", voltage, "volts through it.")
    print("-- Lovely plumage, the", type)
    print("-- It's", state, "!")

In [54]:
parrot(1000)

-- This parrot wouldn't voom if you put 1000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !

In [55]:
parrot(voltage=1000)

-- This parrot wouldn't voom if you put 1000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !

In [56]:
parrot(voltage=1000000, action='VOOOOOM')

-- This parrot wouldn't VOOOOOM if you put 1000000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !

In [57]:
parrot(action='VOOOOOM', voltage=1000000)

-- This parrot wouldn't VOOOOOM if you put 1000000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !

In [58]:
parrot('a million', 'bereft of life', 'jump')

-- This parrot wouldn't jump if you put a million volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's bereft of life !

In [59]:
parrot('a thousand', state='pushing up the daisies')

-- This parrot wouldn't voom if you put a thousand volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's pushing up the daisies !

In [60]:
parrot()

TypeError: parrot() missing 1 required positional argument: 'voltage'

In [61]:
parrot(voltage=5.0, 'dead')

SyntaxError: positional argument follows keyword argument (<ipython-input-61-0da35c092a6c>, line 1)

In [62]:
parrot(110, voltage=220)

TypeError: parrot() got multiple values for argument 'voltage'

In [63]:
parrot(actor='John Cleese')

TypeError: parrot() got an unexpected keyword argument 'actor'

In [64]:
def function(a):
...     pass

In [65]:
function(0, a=0)

TypeError: function() got multiple values for argument 'a'

In [66]:
def cheeseshop(kind, *arguments, **keywords):
    print("-- Do you have any", kind, "?")
    print("-- I'm sorry, we're all out of", kind)
    for arg in arguments:
        print(arg)
    print("-" * 40)
    for kw in keywords:
        print(kw, ":", keywords[kw])

In [67]:
cheeseshop("Limburger", "It's very runny, sir.",
           "It's really very, VERY runny, sir.",
           shopkeeper="Michael Palin",
           client="John Cleese",
           sketch="Cheese Shop Sketch")

-- Do you have any Limburger ?
-- I'm sorry, we're all out of Limburger
It's very runny, sir.
It's really very, VERY runny, sir.
----------------------------------------
shopkeeper : Michael Palin
client : John Cleese
sketch : Cheese Shop Sketch

In [1]:
def standard_arg(arg):
...     print(arg)

In [2]:
def pos_only_arg(arg, /):
...     print(arg)

SyntaxError: invalid syntax (<ipython-input-2-dac7287a6fee>, line 1)

In [3]:
def pos_only_arg(arg, /):
...     print(arg)
...

SyntaxError: invalid syntax (<ipython-input-3-137c57f066e6>, line 1)

In [4]:
def kwd_only_arg(*, arg):
...     print(arg)
...

In [5]:
def combined_example(pos_only, /, standard, *, kwd_only):
...     print(pos_only, standard, kwd_only)

SyntaxError: invalid syntax (<ipython-input-5-e71a7fd473ab>, line 1)

In [6]:
standard_arg(2)

2

In [7]:
standard_arg(arg=2)

2

In [8]:
pos_only_arg(1)

NameError: name 'pos_only_arg' is not defined

In [9]:
def write_multiple_items(file, separator, *args):
    file.write(separator.join(args))

In [10]:
def concat(*args, sep="/"):
...     return sep.join(args)
...

In [11]:
concat("earth", "mars", "venus")

'earth/mars/venus'

In [12]:
concat("earth", "mars", "venus", sep=".")

'earth.mars.venus'

In [13]:
list(range(3, 6))

[3, 4, 5]

In [14]:
args = [3, 6]

In [15]:
list(range(*args))

[3, 4, 5]

In [16]:
 def parrot(voltage, state='a stiff', action='voom'):
...     print("-- This parrot wouldn't", action, end=' ')
...     print("if you put", voltage, "volts through it.", end=' ')
...     print("E's", state, "!")
...

In [17]:
 d = {"voltage": "four million", "state": "bleedin' demised", "action": "VOOM"}

In [18]:
 parrot(**d)

-- This parrot wouldn't VOOM if you put four million volts through it. E's bleedin' demised !

In [19]:
def make_incrementor(n):
...     return lambda x: x + n
...

In [20]:
f = make_incrementor(42)

In [21]:
f(0)

42

In [22]:
 f(1)

43

In [23]:
pairs = [(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]

In [24]:
pairs.sort(key=lambda pair: pair[1])

In [25]:
pairs

[(4, 'four'), (1, 'one'), (3, 'three'), (2, 'two')]

In [27]:
pairs.sort(key=lambda pair: pair[0])

In [28]:
pairs

[(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]

In [29]:
pairs.sort(key=lambda pair: pair[1])

In [30]:
pairs

[(4, 'four'), (1, 'one'), (3, 'three'), (2, 'two')]

In [31]:
def my_function():
...     """Do nothing, but document it.
...
...     No, really, it doesn't do anything.
...     """
...     pass
...

In [32]:
print(my_function.__doc__)

Do nothing, but document it.

    No, really, it doesn't do anything.

In [33]:
def f(ham: str, eggs: str = 'eggs') -> str:
...     print("Annotations:", f.__annotations__)
...     print("Arguments:", ham, eggs)
...     return ham + ' and ' + eggs
...

In [34]:
f('spam')

Annotations: {'ham': <class 'str'>, 'eggs': <class 'str'>, 'return': <class 'str'>}
Arguments: spam eggs

'spam and eggs'

In [35]:
 fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']

In [36]:
fruits.count('apple')

2

In [37]:
fruits.count('tangerine')

0

In [38]:
fruits.index('banana')

3

In [39]:
fruits.index('banana', 4)

6

In [40]:
fruits.reverse()

In [41]:
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']

In [42]:
fruits.append('grape')

In [43]:
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange', 'grape']

In [44]:
fruits.sort()

In [45]:
fruits

['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange', 'pear']

In [46]:
fruits.pop()

'pear'

In [47]:
fruits

['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange']

In [48]:
stack = [3, 4, 5]

In [49]:
stack.append(6)

In [50]:
stack.append(7)

In [51]:
stack

[3, 4, 5, 6, 7]

In [52]:
stack.pop()

7

In [53]:
stack

[3, 4, 5, 6]

In [54]:
stack.pop()

6

In [55]:
stack.pop()

5

In [56]:
stack

[3, 4]

In [57]:
from collections import deque

In [58]:
queue = deque(["Eric", "John", "Michael"])

In [59]:
queue.append("Terry")           # Terry arrives

In [60]:
queue.append("Graham")          # Graham arrives

In [61]:
queue

deque(['Eric', 'John', 'Michael', 'Terry', 'Graham'])

In [62]:
queue.popleft()                 # The first to arrive now leaves

'Eric'

In [63]:
queue.popleft()

'John'

In [64]:
queue

deque(['Michael', 'Terry', 'Graham'])

In [65]:
squares = []

In [66]:
for x in range(10):
...     squares.append(x**2)
...

In [67]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [68]:
squares = list(map(lambda x: x**2, range(10)))

In [70]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [71]:
[(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [72]:
combs = []

In [73]:
for x in [1,2,3]:
...     for y in [3,1,4]:
...         if x != y:
...             combs.append((x, y))
...

In [74]:
combs

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [75]:
vec = [-4, -2, 0, 2, 4]

In [76]:
[x*2 for x in vec]

[-8, -4, 0, 4, 8]

In [77]:
[x for x in vec if x >= 0]

[0, 2, 4]

In [78]:
[abs(x) for x in vec]

[4, 2, 0, 2, 4]

In [79]:
freshfruit = ['  banana', '  loganberry ', 'passion fruit  ']

In [80]:
 [weapon.strip() for weapon in freshfruit]

['banana', 'loganberry', 'passion fruit']

In [81]:
[(x, x**2) for x in range(6)]

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [82]:
[x, x**2 for x in range(6)]

SyntaxError: invalid syntax (<ipython-input-82-a4841c5cdd7d>, line 1)

In [83]:
vec = [[1,2,3], [4,5,6], [7,8,9]]

In [84]:
[num for elem in vec for num in elem]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [85]:
from math import pi

In [86]:
[str(round(pi, i)) for i in range(1, 6)]

['3.1', '3.14', '3.142', '3.1416', '3.14159']

In [87]:
matrix = [
...     [1, 2, 3, 4],
...     [5, 6, 7, 8],
...     [9, 10, 11, 12],
... ]

In [88]:
[[row[i] for row in matrix] for i in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [89]:
transposed = []

In [90]:
for i in range(4):
...     transposed.append([row[i] for row in matrix])
...

In [92]:
transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [93]:
list(zip(*matrix))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

In [94]:
a = [-1, 1, 66.25, 333, 333, 1234.5]

In [95]:
del a[0]

In [96]:
a

[1, 66.25, 333, 333, 1234.5]

In [97]:
del a[2:4]

In [98]:
a

[1, 66.25, 1234.5]

In [99]:
del a[:]

In [100]:
a

[]

In [101]:
del a

In [102]:
a

NameError: name 'a' is not defined

In [103]:
 t = 12345, 54321, 'hello!'

In [104]:
t[0]

12345

In [105]:
t

(12345, 54321, 'hello!')

In [106]:
u = t, (1, 2, 3, 4, 5)

In [107]:
u

((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

In [108]:
 t[0] = 88888

TypeError: 'tuple' object does not support item assignment

In [109]:
v = ([1, 2, 3], [3, 2, 1])

In [110]:
v

([1, 2, 3], [3, 2, 1])

In [111]:
empty = ()

In [112]:
singleton = 'hello',    # <-- note trailing comma

In [113]:
len(empty)

0

In [114]:
len(singleton)

1

In [115]:
x, y, z = t

In [116]:
x

12345

In [117]:
y

54321

In [118]:
z

'hello!'

In [119]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}

In [120]:
print(basket)

{'banana', 'pear', 'orange', 'apple'}

In [121]:
'orange' in basket

True

In [122]:
'crabgrass' in basket

False

In [123]:
a = set('abracadabra')

In [124]:
b = set('alacazam')

In [125]:
a

{'a', 'b', 'c', 'd', 'r'}

In [126]:
b

{'a', 'c', 'l', 'm', 'z'}

In [127]:
a - b

{'b', 'd', 'r'}

In [128]:
a | b

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [129]:
a & b

{'a', 'c'}

In [130]:
a ^ b

{'b', 'd', 'l', 'm', 'r', 'z'}

In [131]:
a = {x for x in 'abracadabra' if x not in 'abc'}

In [132]:
a

{'d', 'r'}

In [133]:
tel = {'jack': 4098, 'sape': 4139}

In [134]:
tel['guido'] = 4127

In [135]:
tel

{'jack': 4098, 'sape': 4139, 'guido': 4127}

In [136]:
tel['jack']

4098

In [137]:
del tel['sape']

In [138]:
tel

{'jack': 4098, 'guido': 4127}

In [139]:
tel['irv'] = 4127

In [140]:
tel

{'jack': 4098, 'guido': 4127, 'irv': 4127}

In [141]:
list(tel)

['jack', 'guido', 'irv']

In [142]:
sorted(tel)

['guido', 'irv', 'jack']

In [143]:
'guido' in tel

True

In [144]:
'jack' not in tel

False

In [145]:
dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [146]:
{x: x**2 for x in (2, 4, 6)}

{2: 4, 4: 16, 6: 36}

In [147]:
dict(sape=4139, guido=4127, jack=4098)

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [148]:
knights = {'gallahad': 'the pure', 'robin': 'the brave'}

In [149]:
for k, v in knights.items():
...     print(k, v)
...

gallahad the pure
robin the brave

In [150]:
for i, v in enumerate(['tic', 'tac', 'toe']):
...     print(i, v)
...

0 tic
1 tac
2 toe

In [151]:
questions = ['name', 'quest', 'favorite color']

In [152]:
answers = ['lancelot', 'the holy grail', 'blue']

In [153]:
 for q, a in zip(questions, answers):
...     print('What is your {0}?  It is {1}.'.format(q, a))
...

What is your name?  It is lancelot.
What is your quest?  It is the holy grail.
What is your favorite color?  It is blue.

In [154]:
for i in reversed(range(1, 10, 2)):
...     print(i)
...

9
7
5
3
1

In [155]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']

In [156]:
for f in sorted(set(basket)):
...     print(f)
...

apple
banana
orange
pear

In [157]:
import math

In [158]:
raw_data = [56.2, float('NaN'), 51.7, 55.3, 52.5, float('NaN'), 47.8]

In [159]:
filtered_data = []

In [160]:
 for value in raw_data:
...     if not math.isnan(value):
...         filtered_data.append(value)
...

In [161]:
filtered_data

[56.2, 51.7, 55.3, 52.5, 47.8]

In [162]:
string1, string2, string3 = '', 'Trondheim', 'Hammer Dance'

In [163]:
 non_null = string1 or string2 or string3

In [164]:
non_null

'Trondheim'

In [165]:
(1, 2, 3)              < (1, 2, 4)

True

In [166]:
[1, 2, 3]              < [1, 2, 4]

True

In [167]:
'ABC' < 'C' < 'Pascal' < 'Python'

True

In [168]:
(1, 2, 3, 4)           < (1, 2, 4)

True

In [169]:
(1, 2)                 < (1, 2, -1)

True

In [170]:
(1, 2, 3)             == (1.0, 2.0, 3.0)

True

In [1]:
(1, 2, ('aa', 'ab'))   < (1, 2, ('abc', 'a'), 4)

True

In [2]:
 # A continuación la carga de un archivo CSV

In [3]:
import pandas as pd

In [4]:
credit = pd.read_csv('../Tarea 2/default of credit card clients.csv', header =1)

In [5]:
credit

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,5,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,29996,220000,1,3,1,39,0,0,0,0,...,88004,31237,15980,8500,20000,5003,3047,5000,1000,0
29996,29997,150000,1,3,2,43,-1,-1,-1,-1,...,8979,5190,0,1837,3526,8998,129,0,0,0
29997,29998,30000,1,2,2,37,4,3,2,-1,...,20878,20582,19357,0,0,22000,4200,2000,3100,1
29998,29999,80000,1,3,1,41,1,-1,0,0,...,52774,11855,48944,85900,3409,1178,1926,52964,1804,1
29999,30000,50000,1,2,1,46,0,0,0,0,...,36535,32428,15313,2078,1800,1430,1000,1000,1000,1